@import "src/styles/variables";

.coin-line {
    display: flex;
    justify-content: flex-end;

    &__coin {
        font-weight: 500;
        font-size: 2.8rem;
    }
}

.coin-line-right {
    display: flex;
    font-size: 2.8rem;
    &__dollars{
        color: $color-light-dark;
        margin-right: 1rem;
    }
}
