@import "src/styles/variables";

.hello-text{
    //height: 20rem;
    text-align: center;

    &__text{
        color: $color-white !important;

        &_grey{
            //color: $color-light-white!important;
            opacity: .5;
            font-size: $fs-token-name;
        }
    }

}
