$color-bg-blue: #120338;
$color-shadow-blue: #22075e;
$color-green: green;
$color-red: red;
$color-white: white;
$color-light-dark: rgba(0, 0, 0, 0.45);
$color-light-white: #d3adf7;


$fs-token-name: 3rem;
$fs-token-mon-d: 3rem;
$fs-token-one-d: 2.8rem;
$fs-token-mon-t: 2.8rem;
$fs-token-info-small: 3.09rem;