@import "src/styles/variables";

.personal-token-info {
    text-align: center;
    padding: 3rem 0 0;

    &__balance {
        font-size: $fs-main-sum-usd;
        font-weight: 500;
        margin: 1rem 0 0;
        color: $color-bg-blue;
    }

    &__price {
        font-size: $fs-token-info-small;
        color: $color-light-dark;
    }
}