@import "src/styles/variables";

.monitor {
    padding: 1rem 0;
    text-align: center;
    background:$color-bg-blue;
}

#monitor__summary {
    color: $color-white;
    font-size: 5rem;
}

#monitor__pubkey {
    color: $color-light-dark;
    font-size: 3rem;
}