@import "src/styles/variables";

.ant-list-item-meta-description{
    overflow: scroll;
    font-size: 2rem;
}

.transactions-list-balance {
    font-size: 2rem;
}

.ant-list-item-meta-title{
    font-size: 2.8rem;
}

.ant-list-item-meta{
    align-items: center;
}

.ant-list-item{
    padding: 2rem 3.6rem 2rem 2rem;
}