@import "src/styles/variables";

.ant-page-header {
    background: $color-bg-blue;
    padding: 0 2rem;
    height: 100%;
    display: flex;
}

.navbar-slogan {
    color: $color-white;
    font-size: 3.8rem;
}

.site-page-header-ghost-wrapper{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 10rem;
}
