@import "src/styles/variables";
@import "src/styles/mixins";

.ant-page-header {
    background: $color-bg-blue;
    padding: 0 2rem;
    height: 100%;
    display: flex;

    @include vk {
        padding-top: 5rem;
    }

}

.navbar-slogan {
    color: $color-white;
    font-size: 3.8rem;
}

.site-page-header-ghost-wrapper{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 10rem;

    @include vk {
        height: 18rem;
    }

}
