@import "src/styles/variables";

.tokens-money-cont {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;

    &__dollar{
        color: $color-light-dark;
        font-size: $fs-token-mon-t;
    }

    &__crypt{
        font-weight: 500;
        font-size: $fs-token-mon-d;
    }
}

.ant-list-item{
    min-height: 15rem;
    &-meta{
        height: 100%;
        align-items: center;
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
        }
        &-title {
            margin: 0;
            font-size: $fs-token-name;
        }
    }
}
