@import "src/styles/variables";

.tokens-money-cont {
    display: block;
    text-align: right;

    &__dollar{
        color: $color-light-dark;
        font-size: 2.8rem;
        line-height: 2;
    }
}

.ant-list-item-meta{
    align-items: center;
}