@import "src/styles/variables";

.welcome-bg {
    height: 100vh;
    background: $color-shadow-blue;
    display: flex;
    align-items: center;
}

.input-window {
    width: 100%;
    height: 50%;
    padding: 0 6rem;
    box-shadow: 1rem 1rem 14rem 15rem $color-bg-blue;
    background: $color-bg-blue;
}

.search-input{
    display: flex;
}