@import "src/styles/variables";

.welcome-bg {
    height: 100vh;
    padding: calc((100vh - 100%)/2 ) 5rem;
}

.input-window {
    width: 100%;
    height: 50%;
    padding: 0 2rem;
    //box-shadow: 1rem 1rem 14rem 15rem $color-bg-blue;
    background: $color-bg-blue;
}

.ant-space {
    width: 100%;
}

.search-input{
    display: flex;
}

.ant-carousel {
    height: 100%;
}

.slick-slider {
    height: 100%;
}

.slick-track {
    padding-top: 10rem;
}

.slick-dots {
    height: 0;
}


.ant-form-item-label > label{
    color: $color-white !important;
}

.ant-carousel .slick-dots li {
    width: 50%;
}

.ant-carousel .slick-dots li.slick-active {

    width: 100%;
}

.ant-carousel .slick-dots li.slick-active button{
    background: $color-light-white;
}

.ant-carousel .slick-dots li button {
    height: 1.5rem;
}

.ant-btn-primary {
    background: $color-light-white;
    border-color: $color-light-white;
    color: $color-bg-blue;
}
