
@import "src/styles/variables";

.tokens-navbar {
    width: 100%;
    height: 10rem;
    background: $color-bg-blue;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 3rem;
}

.qr-code {
    margin-right: 3rem;
}