@import "src/styles/mixins";
@import "src/styles/variables";


.tokens-navbar {
    width: 100%;
    height: 10rem;
    background: $color-bg-blue;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 3rem;

    @include vk {
        height: 18rem;
        padding-top: 8rem;
    }

}

.qr-code {
    margin-right: 3rem;
}